*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh; 
}

nav{
    background-color: #101010;
    box-shadow: 3px 3px 4px #46f11b;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 55px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 19px;
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #10101065;
    backdrop-filter: blur(10px);
    box-shadow: -10 0 10px #1f1a1a;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: all .5s ease;
    cursor: pointer;
}

.sidebar li{
    width: 100%;
}

.sidebar li{
    width: 100%;
}

.menuButton{
    display: none;
}

@media(max-width: 800px){
.hideOnMobile{
    display: none;
}

.menuButton{
    display: block;   
}
}

@media(max-width: 500px){
    .sidebar{
        width: 100%;
    }
}

@media screen and (min-width: 801px) {
    .sidebar {
      display: none!important;
    }
  }

nav a:hover{
    border-bottom: #006aff 5px solid;
    transition: all .3s ease;
    font-weight: bold;
    border-radius: 3px;
}

nav a:active,.active{
    font-weight: bold;
}
.active{
    font-size: 20px;
}

.active:hover{
    border: none;
}

.svgimg{
    color:#fff;
}

.entry-title h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
}

body{
    background-color: #1c1a1a;
    color: #fff;
}

.cover{
    min-height: 500px;
}

.first-img{
    height: 300px;
}

.display-flex{
    display: flex;
    min-height: 400px;
    width: 90%;   
    margin: auto;
}

.mobile-title{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
}

.fisrt-div{
    display: flex;
    min-width: 50%;
    justify-content: center;
    align-items: center;
}

@media(max-width:1200px){
    .first-img{
        height: 250px;
    }
    .mobile-title{
        font-size: 30px;
        font-weight: bold;
        margin-top:70px
    } 
    .entry-title p{
        font-size: 16px;
    }

    .first-img,.mobile-title,.entry-title p{
        transition: all .4s ease;
    }
    .download p{
        font-size: 16px;
        padding: 0px;
    }
}

@media(max-width:1000px){
    .first-img{
        height: 200px;
    }

    .first-img,.mobile-title,.entry-title p{
        transition: all .4s ease;
    }
}

@media(max-width:800px){
    .display-flex,.fisrt-div{
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align:center;
    }
    .fisrt-div{
        margin-top: 70px;
    }
    .first-img{
        max-height: 200px;
        min-height: 100px;
    } 
    .mobile-title{
        margin-top: 50px;
    }
    
}

.second-div{
    padding: 0 10px;
}

.download{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
.download p{ 
    background-color: rgb(5, 144, 5);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    width: 50%;
    margin: 10px;
    font-family: Arial, Arial, sans-serif;
    cursor: pointer;
}
.download p a{
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 8px;
}

@media(max-width:800px){
    .download{
        display: block;
        justify-content: center;
        text-align: center;
        margin: 50px 30px;
    }
    .download p{
        width: 100%;
        margin-bottom: 20px;
    }
    .redeemimgdiv{
        width: 100%;
    }
}

.gifts{
    margin: 40px 0;
}

.gifts h2{ 
    text-align: center;
}

.codecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 10px;
}

.codecontainer input{
    padding: 15px;
}

.entry-line{
    padding: 0 50px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.couponinfo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablediv{
    display: flex;
    justify-content: center;
    align-items: center;
}

th, td {
    border: 1px solid;
    padding: 20px;
  }

table{
    width: 90%;
    margin: 40px 0;
}

.normalh1{
    text-align: center;
    margin-top: 40px;
}

.footersection{
    margin: 20px 0;
}

.footersection p{
    text-align: center;
}

.redeemgifts{
    text-align: center;
    margin: 30px 0;
    padding: 20px;
}

.steps{
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps li{
    padding: 10px;
}

.redeemimgdiv{
    display: block;
    width: 50%;
    margin: auto;
}

.redeemimgdiv img{
    width: 100%;
    border-radius: 10px;
    margin: 10px;
}

@media(max-width:800px){
    .redeemimgdiv{
        width: 70%;
    }
}

.featuresdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.featuresitem{
    width: 30%;
    margin: 20px;
    padding: 30px;
    border-radius: 5px;
    border: solid 2px rgb(153, 255, 0);
    outline: 3px dotted green;
}

.featuresitem h3{
    text-align: center;
    padding: 10px;
}

.featuresitem p{
    margin-top: 30px;
}

.featuresh2{
    text-align: center;
    padding: 10px;
    margin: 40px 10px;
}

.featuresitem:hover{
    background-color: #fffafa;
    color: black;
    transition: all .8s ease;
}

@media(max-width:800px){
    .featuresdiv{
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .featuresitem{
        width: 90%;
    }
}

.aboutdiv{
    min-height: 100vh;
}

.aboutdiv h2{
    margin: 40px 10px;
}

.aboutdiv h3{
    margin: 30px 10px;
}

.errordiv{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.errordiv h1{
    text-align: center;
    padding: 20px;
}

.contactdiv{
    width: 100%;
}

.contactdiv h1{
    text-align: center;
    margin: 40px 10px;
    padding: 10px;
}

.contactdiv p{
    margin: 20px 10px;
    padding: 10px;
}
